.side-bar{
position:fixed;
top:30px;
bottom:0;

left: 12px;
background-color: white;


}
.sidebar-link{
    height: 5px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.sidebar-link:hover{
    background-color: rgb(174, 171, 171);
   }
   .sidebar-link img{
    height: 15px;
    width: 18px;
    padding-left: 5px;
   }
   .side-icon-name-home{
    font-size: 6px;
    margin-left:-1px;
    margin-top: 8px;
    padding-right: 8px;
    font-family: roboto,arial;
   }
   .side-icon-name-explore{
    font-size: 6px;
    margin-left:-2px;
    font-family: roboto,arial;
    margin-top:9px;
    padding-right: 5px;
   }
   .side-icon-name-subscription{
    font-size: 6px;
    margin-left: -6px;
    font-family: roboto,arial;
    margin-top:9px;
   }
   .side-icon-name-orginals{
    font-size: 6px;
    margin-left:-2px;
    font-family: roboto,arial;
    margin-top:9px;
    padding-right: 5px;
   }
   .side-icon-name-music{
    font-size: 6px;
    margin-left: -6px;
    font-family: roboto,arial;
    margin-top:9px;
   }
   .side-icon-name-library{
    font-size: 6px;
    margin-left:-1px;
    font-family: roboto,arial;
    margin-top:9px;
    padding-right: 5px;
   }
   

